body{
font: 13px "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
}
.as_section{
width:100%;
border-style: none none solid none;
border-width:1px;
border-color:#E3E3E3;
clear:both;
text-align:center;
}
h2{
color:#666666;
font-size: 1.5em;
font-weight: bold;
}
.as_section_heading div{
background:#464646;
padding-top:5px;
padding-bottom:5px;
color:#d7d7d7;
}
.schedule_col1{
float:left;
text-align:center;
padding-top:5px;
padding-bottom:5px;
width:10%;
}
.schedule_col2{
float:left;
text-align:center;
padding-top:5px;
padding-bottom:5px;
width:25%;

}
.schedule_col3{
float:left;
text-align:center;
padding-top:5px;
padding-bottom:5px;
width:10%;
}
.schedule_col4{
float:left;
text-align:center;
padding-top:5px;
padding-bottom:5px;
width:20%;
}
.schedule_col5{
float:left;
text-align:center;
padding-top:5px;
padding-bottom:5px;
width:20%;
}
.schedule_col6{
float:left;
text-align:center;
padding-top:5px;
padding-bottom:5px;
width:15%;
}
.appointment_time{
float:left;
text-align:center;
padding:5px;
}
.appointment_name{
float:left;
padding:5px;
}
.action{
float:left;
padding:5px;
}
.text{
border-color:#CCC;
border-width:1px;
border-style:solid;
}